<div class= "sinup-page">
  <header class= "header">
    <div>アカウント作成</div>
  </header>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <label for="file_photo" class= "rounded-circle user-profile-img">
        <div class="user-profile-img_description">画像をアップロード</div>
        <i class="fas fa-camera fa-3x"></i>
        <%= f.file_field :img_name, id: "file_photo" %>
      </label>
      <div class = "user-img-preview", id= "user-img-preview">
        <img id="thumbnail", class= "user-img-preview_content",accept="image/*", src="">
        <p class= "user-img-preview_text">画像をアップロード済み</p>
      </div>
      <div class="form-group">
        <label>名前</label>
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
      </div>
      <div class="form-group">
        <label>メールアドレス</label>
        <%= f.email_field :email,class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-group">
        <label>パスワード</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>
      <div class="form-group">
        <label>パスワード(確認)</label>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>
      <div class="form-group">
        <div><label>性別</label></div>
        <div class= "form-check form-check-inline">
          <%= f.radio_button :sex, "男", class: "form-check-input", id:"inline-radio1" %>
          <label class="form-check-label" for="inlineRadio1">男</label>
        </div>
        <div class= "form-check form-check-inline">
          <%= f.radio_button :sex, "女", class: "form-check-input", id:"inline-radio1" %>
          <label class="form-check-label" for="inlineRadio1">女</label>
        </div>
      <div class="form-group">
        <label>自己紹介文(最大1000文字)</label>
        <%= text_area :user, :self_introduction, maxlength: "1000", rows:"10",placeholder: "趣味や好きなものなど", class: "form-control js-text" %>
        <P class="js-text-count pull-right"></P>
      </div>
      <div class= "text-center">
        <%= f.submit "完了", class: "btn submit-btn"%>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>