<div class= "sinup-page">
  <header class= "header">
    <div>ログイン</div>
  </header>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <label>メールアドレス</label>
        <%= f.email_field :email,class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <label>パスワード</label>
        <%= f.password_field :password,class: "form-control", autocomplete: "current-password" %>
      </div>

      <div class= "text-center">
        <%= f.submit "ログイン", class: "btn submit-btn" %>
      </div>
      <div class= "text-center">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  
    
  </div>
</div>